<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/output.css">
        <link rel="stylesheet" href="/css/Dashboard.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="stylesheet" href="/css/Sidebar.css">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/Gifted-Brainz-PNG (1).png">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>


<body>
    <section class="flex dash-section">
        <div class="side">
            <%-include('sidebar')%>
        </div>
        <div class="all">
            <div class="up">
             <div class="dash flex w-full items-center justify-between">
                <div class="flex lg:w-[5%] dashboard"><h1 class="fgg text-[20px] font-semibold">Dashboard</h1></div>
                <div class="flex-left flex items-center lg:w-[60%]">
                    <div class=" border-[2px] rounded-[20px] flex items-center px-[20px]">
                        <input class="input w-[40vw]  outline-none border-none bg-none" type="text">
                        <i class='bx bx-search'></i>
                    </div>
                    <div class="ghy flex items-center gap-[30px]">
                        <i class='bx bx-bell ' ></i>
                        <img width="60" src="/images/Ellipse 17 (5).png" alt="">
                    </div>
                </div>
            </div>
            <!-- I am coming back to this... -->
            <!-- <div class="w-full flex flex-row justify-between">
                <div class="w-[20%]">
                    <h1>Dashboard</h1>
                </div>
                <div class="flex gap-sm">
                    <div class="flex gap-2">
                        <input class="p-2 " type="text" name="" id="">
                        <i><i class='bx bx-search'></i></i>
                    </div>
                </div>
            </div> -->
            <div class="wel">
                <div><h1 class="text-[30px] font-semibold">Welcome, <%= userData.name %></h1></div>
                <div class="tab flex">
                    <div class="tote">
                        <h2>Total Earnings</h2>
                        <h1># <%= userData.totalEarnings %></h1>
                    </div>
                    <div class="tot">
                        <h2>Total Points</h2>
                        <h1>
                            <% if(userData.totalPoints) { %>
                                <%=userData.totalPoints%>
                            <% }else{ %>
                            0
                            <%}%>
                            <sub>SQP</sub>
                        </h1>
                    </div>
                    <div class="ref">
                        <h2>Referrals Earnings</h2>
                        <h1>#<% if(userData.referralCommission) { %>
                            <%=userData.referralCommission%>
                            <% }else{ %>
                                0
                            <%}%>
                    </h1>
                    </div>
                </div>
            </div>
            </div>
            <div class="earn">
                <div><h2 class=" font-bold text-[20px]">Earning History</h2></div>
                <table>
                    <tr>
                        <th></th>
                        <th class="task">Task</th>
                        <th class="fif">Total Answered</th>
                        <th>Points</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td class="task">What is UI/UX Design</td>
                        <td class="fif" >15</td>
                        <td>20pts</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td class="task">Principle Of Design</td>
                        <td class="fif">15</td>
                        <td>10pts</td> 
                    </tr>
                    <tr>
                        <td>3</td>
                        <td class="task">Interaction Design</td>
                        <td class="fif">15</td>
                        <td>20pts</td> 
                    </tr>
                    <tr>
                        <td>4</td>
                        <td class="task">User Research</td>
                        <td class="fif">15</td>
                        <td>50pts</td> 
                    </tr>
                    <tr>
                        <td>5</td>
                        <td class="task">Prototype</td>
                        <td class="fif">15</td>
                        <td>40pts</td> 
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Data Analysis</td>
                        <td class="fif">15</td>
                        <td>50pts</td> 
                    </tr>
                   
                </table>
            </div>
        </div>
    
    </section>
</body>
</html>